$primaryColor: #6C757D !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

$tableRowHighlightBg:  hsla(208, 7%, 46%, 0.1);
$tableRowHighlightTextColor: #495057;

@import '../sass/theme/_theme';
