IF DB_ID('CADTEST') IS NULL
BEGIN
    CREATE DATABASE [CADTEST];
END
GO
USE [CADTEST];
GO

IF OBJECT_ID('dbo.Drawing','U') IS NOT NULL DROP TABLE dbo.Drawing;
IF OBJECT_ID('dbo.Component','U') IS NOT NULL DROP TABLE dbo.Component;
IF OBJECT_ID('dbo.ReviewLog','U') IS NOT NULL DROP TABLE dbo.ReviewLog;
GO

-- 图纸主档
CREATE TABLE dbo.Drawing (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    DrawingNo NVARCHAR(50) NOT NULL,
    Name NVARCHAR(100) NOT NULL,
    Category NVARCHAR(50) NULL,
    Version NVARCHAR(20) NULL,
    Status NVARCHAR(20) NULL,
    Designer NVARCHAR(50) NULL,
    Weight DECIMAL(10,2) NULL,
    DesignDate DATETIME NULL,
    IsReleased BIT NOT NULL DEFAULT 0,
    Remark NVARCHAR(500) NULL
);
GO

-- 部件明细
CREATE TABLE dbo.Component (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    DrawingId INT NOT NULL,
    PartNo NVARCHAR(50) NOT NULL,
    Name NVARCHAR(100) NOT NULL,
    Material NVARCHAR(50) NULL,
    Quantity INT NOT NULL DEFAULT 1,
    Unit NVARCHAR(20) NULL,
    Cost DECIMAL(10,2) NULL,
    IsStdPart BIT NOT NULL DEFAULT 0,
    Remark NVARCHAR(500) NULL
);
GO

-- 审图记录
CREATE TABLE dbo.ReviewLog (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    DrawingId INT NOT NULL,
    Reviewer NVARCHAR(50) NOT NULL,
    Result NVARCHAR(20) NULL,
    Score INT NULL,
    Comment NVARCHAR(500) NULL,
    ReviewedAt DATETIME NULL
);
GO

-- 测试数据
SET IDENTITY_INSERT dbo.Drawing ON;
SET IDENTITY_INSERT dbo.Drawing OFF;
GO

SET IDENTITY_INSERT dbo.Component ON;
INSERT INTO dbo.Component(Id,DrawingId,PartNo,Name,Material,Quantity,Unit,Cost,IsStdPart,Remark)
VALUES
 (1,1,'P-001','油泵总成','HT250',1,'台',680.00,0,'外购件'),
 (2,1,'P-002','联轴器','45#',1,'件',95.00,1,'标准件'),
 (3,1,'P-003','压力表','/ ',2,'只',45.50,1,'量程 25MPa'),
 (4,2,'P-004','阀体毛坯','45#',1,'件',320.00,0,'调质处理'),
 (5,2,'P-005','密封圈','NBR',4,'件',3.20,1,'O 型圈'),
 (6,3,'P-006','油箱侧板','Q235',2,'块',128.00,0,'8mm 钢板'),
 (7,4,'P-007','齿轮 m3','20CrMnTi',2,'件',156.00,0,'渗碳淬火'),
 (8,6,'P-008','主轴坯料','40Cr',1,'件',420.00,0,'锻造毛坯');
SET IDENTITY_INSERT dbo.Component OFF;
GO

SET IDENTITY_INSERT dbo.ReviewLog ON;
INSERT INTO dbo.ReviewLog(Id,DrawingId,Reviewer,Result,Score,Comment,ReviewedAt)
VALUES
 (1,1,'刘审图', '通过', 92, '结构合理，建议补充公差标注', '2026-01-20 10:30'),
 (2,2,'刘审图', '退回', 75, '关键尺寸缺少表面粗糙度要求', '2026-02-10 14:00'),
 (3,3,'陈审图', '通过', 88, '焊缝符号需按新国标更新', '2026-02-25 09:15'),
 (4,4,'陈审图', '待定', 80, '齿轮参数表需与设计计算书核对', '2026-03-20 16:40'),
 (5,1,'陈审图', '通过', 95, '复核无误，同意发布', '2026-01-25 11:00'),
 (6,6,'刘审图', '待定', 78, '主轴热处理硬度范围待确认', '2026-04-08 13:20');
SET IDENTITY_INSERT dbo.ReviewLog OFF;
GO

PRINT 'CADTEST DB 建表与测试数据完成';
GO