USE [SunnySystem];
GO
IF OBJECT_ID('dbo.vCustomerList','V') IS NOT NULL DROP VIEW dbo.vCustomerList;
GO
CREATE VIEW dbo.vCustomerList AS
SELECT Id, Name, Gender, Age, Phone, Email, Level, Balance, Birthday, IsActive, Remark,
       N'客户' AS Kind
FROM dbo.Customer;
GO
PRINT 'vCustomerList created';
