USE [VueLib];
GO
-- Drawing 页：一对多（Component / ReviewLog）
UPDATE DynPage SET ColumnDefs = JSON_MODIFY(ColumnDefs, '$.navs', JSON_QUERY(N'[
  {"navKey":"Component","label":"部件明细","relation":"OneToMany","targetTable":"Component","targetFkColumn":"DrawingId","displayColumns":["PartNo","Name","Material","Quantity","Unit"]},
  {"navKey":"ReviewLog","label":"审图记录","relation":"OneToMany","targetTable":"ReviewLog","targetFkColumn":"DrawingId","displayColumns":["Reviewer","Result","Score","ReviewedAt"]}
]', N'$')) WHERE Id IN (5,6);
-- ReviewLog 页：多对一（Drawing）
UPDATE DynPage SET ColumnDefs = JSON_MODIFY(ColumnDefs, '$.navs', JSON_QUERY(N'[
  {"navKey":"Drawing","label":"图纸","relation":"ManyToOne","targetTable":"Drawing","fkColumn":"DrawingId","displayColumns":["DrawingNo","Name","Category","Version","Status"]}
]', N'$')) WHERE Id IN (7,8);
-- Component 页：多对一（Drawing）
UPDATE DynPage SET ColumnDefs = JSON_MODIFY(ColumnDefs, '$.navs', JSON_QUERY(N'[
  {"navKey":"Drawing","label":"所属图纸","relation":"ManyToOne","targetTable":"Drawing","fkColumn":"DrawingId","displayColumns":["DrawingNo","Name","Version"]}
]', N'$')) WHERE Id IN (9,10);
GO
PRINT 'CADTEST 页面导航配置注入完成';
