/* VueLib 数据字典 DynDict —— 常用组件下拉/单选数据源 */
USE VueLib;
GO
IF OBJECT_ID('dbo.DynDict') IS NULL
BEGIN
    CREATE TABLE dbo.DynDict (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        DictType NVARCHAR(100) NOT NULL,
        DictCode NVARCHAR(100) NULL,
        DictText NVARCHAR(200) NOT NULL,
        DictValue NVARCHAR(200) NOT NULL,
        SortOrder INT NOT NULL DEFAULT 0,
        IsEnabled BIT NOT NULL DEFAULT 1,
        Remark NVARCHAR(500) NULL,
        CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
    );
    CREATE INDEX IX_DynDict_Type ON dbo.DynDict(DictType, SortOrder);
END
GO
DELETE FROM dbo.DynDict;
GO
SELECT DictType, COUNT(*) AS Cnt FROM dbo.DynDict GROUP BY DictType ORDER BY DictType;