USE VueLib;
GO
/* 常用组件（简化配置，参考 SunnySystem EditorTemplates，ElementUI 实现） */
DELETE FROM dbo.ComponentMeta WHERE Category = N'常用';
GO
DECLARE @labelFields NVARCHAR(MAX) = N'[
  {"key":"options.labeloptions.label","label":"标签文字","type":"input","default":""},
  {"key":"options.labeloptions.required","label":"必填","type":"switch","default":false},
  {"key":"options.labeloptions.show","label":"显示标签","type":"switch","default":true}
]';
DECLARE @styleFields NVARCHAR(MAX) = N'[
  {"key":"options.itemoptions.style.width","label":"宽度","type":"input","default":"100%"},
  {"key":"options.itemoptions.class","label":"自定义类名","type":"input","default":""}
]';

-- 1 文本框

-- 2 多行文本

-- 3 密码框

-- 4 隐藏域

-- 5 只读标签

-- 6 开关

-- 7 复选框

-- 8 日期

-- 9 提示文本

SELECT COUNT(*) AS CommonComCount FROM dbo.ComponentMeta WHERE Category = N'常用';