USE VueLib;
GO
/* 常用组件（选项类 + 扩展类） */
DECLARE @labelFields NVARCHAR(MAX) = N'[
  {"key":"options.labeloptions.label","label":"标签文字","type":"input","default":""},
  {"key":"options.labeloptions.required","label":"必填","type":"switch","default":false},
  {"key":"options.labeloptions.show","label":"显示标签","type":"switch","default":true}
]';
DECLARE @srcFields NVARCHAR(MAX) = N'[
  {"key":"options.comoptions.sourceType","label":"数据源","type":"select","default":"static","options":[{"label":"静态选项","value":"static"},{"label":"数据字典","value":"dict"},{"label":"数据库表","value":"table"}]},
  {"key":"options.optionValues","label":"静态选项(逗号)","type":"input","default":""},
  {"key":"options.comoptions.dictType","label":"字典类型","type":"input","default":""},
  {"key":"options.comoptions.projectId","label":"工程ID","type":"number","default":0},
  {"key":"options.comoptions.table","label":"表名","type":"input","default":""},
  {"key":"options.comoptions.valueField","label":"值字段","type":"input","default":"Id"},
  {"key":"options.comoptions.textField","label":"文本字段","type":"input","default":"Name"},
  {"key":"options.comoptions.filter","label":"过滤条件(SQL)","type":"input","default":""}
]';

-- 10 下拉选择

-- 11 单选组

-- 12 复选组

-- 13 数据库下拉

-- 14 选择器（Lookup）

-- 15 图片上传

-- 16 富文本

SELECT COUNT(*) AS CommonComCount FROM dbo.ComponentMeta WHERE Category = N'常用';