/* ============================================================
 * 学校管理业务库 student_grade_management
 * 学校 / 年级 / 班级 / 学生 / 学科 / 教师 / 考试 / 考试科目 / 成绩
 * ============================================================ */
IF DB_ID(N'student_grade_management') IS NULL CREATE DATABASE student_grade_management;
GO
USE student_grade_management;
GO

IF OBJECT_ID('dbo.School') IS NOT NULL DROP TABLE dbo.School;
IF OBJECT_ID('dbo.Teacher') IS NOT NULL DROP TABLE dbo.Teacher;
IF OBJECT_ID('dbo.Grade') IS NOT NULL DROP TABLE dbo.Grade;
IF OBJECT_ID('dbo.Subject') IS NOT NULL DROP TABLE dbo.Subject;
IF OBJECT_ID('dbo.Class') IS NOT NULL DROP TABLE dbo.Class;
IF OBJECT_ID('dbo.Student') IS NOT NULL DROP TABLE dbo.Student;
IF OBJECT_ID('dbo.Exam') IS NOT NULL DROP TABLE dbo.Exam;
IF OBJECT_ID('dbo.ExamSubject') IS NOT NULL DROP TABLE dbo.ExamSubject;
IF OBJECT_ID('dbo.Score') IS NOT NULL DROP TABLE dbo.Score;
GO

CREATE TABLE dbo.School (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Code NVARCHAR(50) NULL,
    SchoolType NVARCHAR(50) NULL,
    Address NVARCHAR(200) NULL,
    Phone NVARCHAR(30) NULL,
    Principal NVARCHAR(50) NULL,
    FoundedYear INT NULL,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.Teacher (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    TeacherNo NVARCHAR(30) NULL,
    Name NVARCHAR(50) NOT NULL,
    Gender NVARCHAR(10) NULL,
    Title NVARCHAR(20) NULL,
    Phone NVARCHAR(30) NULL,
    Email NVARCHAR(100) NULL,
    SchoolId INT NULL,
    HireDate DATE NULL,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.Grade (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    GradeNo INT NULL,
    SchoolId INT NULL,
    HeadTeacherId INT NULL,
    SortOrder INT NOT NULL DEFAULT 0,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.Subject (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    Code NVARCHAR(30) NULL,
    SubjectType NVARCHAR(20) NULL,
    FullScore INT NOT NULL DEFAULT 100,
    PassScore INT NOT NULL DEFAULT 60,
    IsMain BIT NOT NULL DEFAULT 1,
    SortOrder INT NOT NULL DEFAULT 0,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.Class (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    ClassNo INT NULL,
    GradeId INT NULL,
    HeadTeacherId INT NULL,
    RoomNo NVARCHAR(30) NULL,
    StudentCount INT NOT NULL DEFAULT 0,
    ClassType NVARCHAR(20) NULL,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.Student (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    StudentNo NVARCHAR(30) NOT NULL,
    Name NVARCHAR(50) NOT NULL,
    Gender NVARCHAR(10) NULL,
    Birthday DATE NULL,
    ClassId INT NULL,
    SchoolId INT NULL,
    Phone NVARCHAR(30) NULL,
    Address NVARCHAR(200) NULL,
    Status NVARCHAR(20) NOT NULL DEFAULT N'在读',
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.Exam (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    ExamType NVARCHAR(20) NULL,
    Term NVARCHAR(30) NULL,
    ExamDate DATE NULL,
    GradeId INT NULL,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.ExamSubject (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    ExamId INT NULL,
    SubjectId INT NULL,
    FullScore INT NOT NULL DEFAULT 100,
    PassScore INT NOT NULL DEFAULT 60,
    ExamDateTime DATETIME2 NULL,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
CREATE TABLE dbo.Score (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    StudentId INT NULL,
    ExamSubjectId INT NULL,
    Score DECIMAL(6,1) NULL,
    Rank INT NULL,
    Remark NVARCHAR(500) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME()
);
GO
/* 外键约束 */
ALTER TABLE dbo.Teacher ADD CONSTRAINT FK_Teacher_School FOREIGN KEY (SchoolId) REFERENCES dbo.School(Id);
ALTER TABLE dbo.Grade ADD CONSTRAINT FK_Grade_School FOREIGN KEY (SchoolId) REFERENCES dbo.School(Id);
ALTER TABLE dbo.Grade ADD CONSTRAINT FK_Grade_HeadTeacher FOREIGN KEY (HeadTeacherId) REFERENCES dbo.Teacher(Id);
ALTER TABLE dbo.Class ADD CONSTRAINT FK_Class_Grade FOREIGN KEY (GradeId) REFERENCES dbo.Grade(Id);
ALTER TABLE dbo.Class ADD CONSTRAINT FK_Class_HeadTeacher FOREIGN KEY (HeadTeacherId) REFERENCES dbo.Teacher(Id);
ALTER TABLE dbo.Student ADD CONSTRAINT FK_Student_Class FOREIGN KEY (ClassId) REFERENCES dbo.Class(Id);
ALTER TABLE dbo.Student ADD CONSTRAINT FK_Student_School FOREIGN KEY (SchoolId) REFERENCES dbo.School(Id);
ALTER TABLE dbo.Exam ADD CONSTRAINT FK_Exam_Grade FOREIGN KEY (GradeId) REFERENCES dbo.Grade(Id);
ALTER TABLE dbo.ExamSubject ADD CONSTRAINT FK_ES_Exam FOREIGN KEY (ExamId) REFERENCES dbo.Exam(Id);
ALTER TABLE dbo.ExamSubject ADD CONSTRAINT FK_ES_Subject FOREIGN KEY (SubjectId) REFERENCES dbo.Subject(Id);
ALTER TABLE dbo.Score ADD CONSTRAINT FK_Score_Student FOREIGN KEY (StudentId) REFERENCES dbo.Student(Id);
ALTER TABLE dbo.Score ADD CONSTRAINT FK_Score_ES FOREIGN KEY (ExamSubjectId) REFERENCES dbo.ExamSubject(Id);
GO
CREATE INDEX IX_Teacher_School ON dbo.Teacher(SchoolId);
CREATE INDEX IX_Grade_School ON dbo.Grade(SchoolId);
CREATE INDEX IX_Class_Grade ON dbo.Class(GradeId);
CREATE INDEX IX_Student_Class ON dbo.Student(ClassId);
CREATE INDEX IX_Student_School ON dbo.Student(SchoolId);
CREATE INDEX IX_ES_Exam ON dbo.ExamSubject(ExamId);
CREATE INDEX IX_ES_Subject ON dbo.ExamSubject(SubjectId);
CREATE INDEX IX_Score_Student ON dbo.Score(StudentId);
CREATE INDEX IX_Score_ES ON dbo.Score(ExamSubjectId);
GO