USE student_grade_management;
GO
/* ================= 测试数据 ================= */
SET IDENTITY_INSERT dbo.School ON;
INSERT INTO dbo.School (Id, Name, Code, SchoolType, Address, Phone, Principal, FoundedYear) VALUES
 (1, N'阳光第一中学', N'SCH001', N'高中', N'济南市历下区文化路1号', N'0531-88001101', N'王志强', 1985),
 (2, N'阳光实验小学', N'SCH002', N'小学', N'济南市历下区文化路2号', N'0531-88001102', N'李红梅', 1992);
SET IDENTITY_INSERT dbo.School OFF;
SET IDENTITY_INSERT dbo.Teacher ON;
SET IDENTITY_INSERT dbo.Teacher OFF;
SET IDENTITY_INSERT dbo.Grade ON;
INSERT INTO dbo.Grade (Id, Name, GradeNo, SchoolId, HeadTeacherId, SortOrder) VALUES
 (1, N'高一年级', 10, 1, 1, 1),
 (2, N'高二年级', 11, 1, 2, 2),
 (3, N'六年级', 6, 2, 5, 3),
 (4, N'五年级', 5, 2, 6, 4);
SET IDENTITY_INSERT dbo.Grade OFF;
SET IDENTITY_INSERT dbo.Subject ON;
INSERT INTO dbo.Subject (Id, Name, Code, SubjectType, FullScore, PassScore, IsMain, SortOrder) VALUES
 (1, N'语文', N'SUB001', N'主科', 150, 90, 1, 1),
 (2, N'数学', N'SUB002', N'主科', 150, 90, 1, 2),
 (3, N'英语', N'SUB003', N'主科', 150, 90, 1, 3),
 (4, N'物理', N'SUB004', N'主科', 100, 60, 1, 4),
 (5, N'化学', N'SUB005', N'主科', 100, 60, 1, 5),
 (6, N'生物', N'SUB006', N'副科', 100, 60, 0, 6),
 (7, N'历史', N'SUB007', N'副科', 100, 60, 0, 7),
 (8, N'体育', N'SUB008', N'素质科', 100, 60, 0, 8);
SET IDENTITY_INSERT dbo.Subject OFF;
SET IDENTITY_INSERT dbo.Class ON;
INSERT INTO dbo.Class (Id, Name, ClassNo, GradeId, HeadTeacherId, RoomNo, StudentCount, ClassType) VALUES
 (1, N'高一(1)班', 1, 1, 1, N'A101', 4, N'行政班'),
 (2, N'高一(2)班', 2, 1, 3, N'A102', 4, N'行政班'),
 (3, N'高二(1)班', 1, 2, 2, N'B201', 4, N'行政班'),
 (4, N'高二(2)班', 2, 2, 4, N'B202', 4, N'行政班'),
 (5, N'六年级(1)班', 1, 3, 5, N'C301', 3, N'行政班'),
 (6, N'五年级(1)班', 1, 4, 6, N'C401', 3, N'行政班');
SET IDENTITY_INSERT dbo.Class OFF;
SET IDENTITY_INSERT dbo.Student ON;
SET IDENTITY_INSERT dbo.Student OFF;
SET IDENTITY_INSERT dbo.Exam ON;
INSERT INTO dbo.Exam (Id, Name, ExamType, Term, ExamDate, GradeId) VALUES
 (1, N'2026-2027学年第一学期期中考试', N'期中', N'2026-2027学年第一学期', '2026-11-10', 1),
 (2, N'2026-2027学年第一学期期末考试', N'期末', N'2026-2027学年第一学期', '2027-01-18', 1),
 (3, N'2026年秋季六年级期中测验', N'期中', N'2026-2027学年第一学期', '2026-11-12', 3);
SET IDENTITY_INSERT dbo.Exam OFF;
SET IDENTITY_INSERT dbo.ExamSubject ON;
SET IDENTITY_INSERT dbo.ExamSubject OFF;
SET IDENTITY_INSERT dbo.Score ON;
SET IDENTITY_INSERT dbo.Score OFF;
GO
SELECT 'School' AS T, COUNT(*) C FROM dbo.School UNION ALL
SELECT 'Teacher', COUNT(*) FROM dbo.Teacher UNION ALL
SELECT 'Grade', COUNT(*) FROM dbo.Grade UNION ALL
SELECT 'Subject', COUNT(*) FROM dbo.Subject UNION ALL
SELECT 'Class', COUNT(*) FROM dbo.Class UNION ALL
SELECT 'Student', COUNT(*) FROM dbo.Student UNION ALL
SELECT 'Exam', COUNT(*) FROM dbo.Exam UNION ALL
SELECT 'ExamSubject', COUNT(*) FROM dbo.ExamSubject UNION ALL
SELECT 'Score', COUNT(*) FROM dbo.Score;