USE VueLib;
GO
IF NOT EXISTS (SELECT 1 FROM dbo.DynProject WHERE Name = N'SchoolMgr')
INSERT INTO dbo.DynProject (Name, DisplayName, Type, DatabaseName, ConnectionString, Description, Icon, IsEnabled, CreatedAt, UpdatedAt)
VALUES (N'SchoolMgr', N'学校管理', N'Web', N'student_grade_management',
 N'Server=.;Database=student_grade_management;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True',
 N'学校管理应用（学校/年级/班级/学生/学科/教师/考试/成绩）', N'🎓', 1, SYSUTCDATETIME(), SYSUTCDATETIME());
SELECT Id, Name, DisplayName, Type, DatabaseName FROM dbo.DynProject WHERE Name = N'SchoolMgr';