USE VueLib;
GO
/* 学校管理数据组件：DynCrudPage / DynTree / DynTreeList */
DELETE FROM dbo.ComponentMeta WHERE ComponentName IN (N'DynCrudPage', N'DynTree', N'DynTreeList');
GO

-- 组合 CRUD 组件（Filter + List + Detail 三页 ID 可配置）

-- 树形组件

-- 左树右列表组件

SELECT ComponentName, Category FROM dbo.ComponentMeta WHERE ComponentName IN (N'DynCrudPage', N'DynTree', N'DynTreeList');