USE student_grade_management;
IF OBJECT_ID('OrgUnit','U') IS NULL
CREATE TABLE OrgUnit (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    ParentId INT NOT NULL DEFAULT 0,
    Name NVARCHAR(100) NOT NULL,
    UnitType NVARCHAR(20) NOT NULL,   -- School / Grade / Class
    RefId INT NOT NULL DEFAULT 0,     -- 对应业务表真实 Id（供右列列表 linkField 过滤）
    SortOrder INT NOT NULL DEFAULT 0,
    IsEnabled BIT NOT NULL DEFAULT 1
);
IF NOT EXISTS (SELECT 1 FROM OrgUnit)
BEGIN
    INSERT INTO OrgUnit (ParentId, Name, UnitType, RefId, SortOrder) SELECT 0, Name, N'School', Id, Id FROM School;
    INSERT INTO OrgUnit (ParentId, Name, UnitType, RefId, SortOrder)
        SELECT o.Id, g.Name, N'Grade', g.Id, g.Id FROM Grade g
        JOIN OrgUnit o ON o.UnitType = N'School' AND o.RefId = g.SchoolId;
    INSERT INTO OrgUnit (ParentId, Name, UnitType, RefId, SortOrder)
        SELECT o.Id, c.Name, N'Class', c.Id, c.Id FROM Class c
        JOIN OrgUnit o ON o.UnitType = N'Grade' AND o.RefId = c.GradeId;
END
SELECT Id, ParentId, Name, UnitType, RefId FROM OrgUnit ORDER BY Id;